<svg width="100vw" height="60vh" viewbox="0 0 1920 648" style="margin-top:20vh;background-color:black;position:fixed;left:0;top:0;">
	<path 
		d="M768,10 
		c-370,0 -370,628 0,628"
		
		>
	</path>

	<line 
		x1="768", y1="10" x2="788", y2="26" 
		>
	</line>

	<line 
		x1="788", y1="622" x2="768", y2="638" 
		>
	</line>

	<path 
		d="M788,26
		c-370,0 -370,596 0,596" 
		
		>
	</path>

	<text x="793" y="24" >9mmtp</text>
	<text x="793" y="636" >10mmtp</text>

	<path 
		d="M1152,10 
		c370,0 370,628 0,628" 
		
		>
	</path>

	<line 
		x1="1152", y1="10" x2="1132", y2="26" 
		>
	</line>

	<line 
		x1="1132", y1="622" x2="1152", y2="638" 
		>
	</line>

	<path 
		d="M1132,26
		c370,0 370,596 0,596" 
		
		>
	</path>

	<text x="1127" y="636" writing-mode="rl-tb" text-anchor="end" style="text-align:right;">11mmtp</text>
	<text x="1127" y="24" writing-mode="rl-tb" text-anchor="end" style="text-align:right;">12mmtp</text>
</svg>
<style>path{stroke:#cce1ee; stroke-width:1.7; fill:none}line{stroke:#cce1ee; stroke-width:1.7;}text{font-size:2vh;line-height:2vh;fill:#cce1ee;stroke:#00008B;stroke-width:0.108;}</style>

<div style="position:fixed;left:50vw;margin-left:-5.125vw;top:50vh;margin-top:-8.9vh;width:10.25vw;height:17.8vh;border:2px solid #cce1ee;border-radius:50%;"></div>

<div class="circle-value cnt" style="top:38.6vh; left:47.08vw;">1mmmtmmm</div>
<div class="circle-value" style="top:41.7vh; left:53.725vw;">2mmmtmmm</div>
<div class="circle-value" style="top:49.32vh; left:55.4vw;">3mmmtmmm</div>
<div class="circle-value" style="top:56.7vh; left:53.725vw;">4mmmtmmm</div>
<div class="circle-value cnt" style="top:59.9vh; left:47.08vw;">5mmmtmmm</div>
<div class="circle-value rtl" style="top:56.7vh; left:40.4vw;">6mmmtmmm</div>
<div class="circle-value rtl" style="top:49.32vh; left:38.8vw;">7mmmtmmm</div>
<div class="circle-value rtl" style="top:41.7vh; left:40.4vw;">8mmmtmmm</div>
<style>.circle-value{overflow:hidden;width:6vw;height:2vh;line-height:2vh;font-size:2vh;position:fixed;color:#cce1ee;text-shadow:#00008B 0 0 0.1vh;}.rtl{text-align:right;}.cnt{text-align:center;}</style>

<div style="position:fixed;right:1vw;bottom:2vh;width:25vw;height:25vh;background-color:rgba(80,88.2,93.3,0.5);">
	<div style="display:flex;flex-direction:row;color:white;height:10%">
		<div class="button arrow" >&nbsp;&#8678;&nbsp;</div>
		<div class="button module" >DOCKS</div>
		<div class="button module" >RADIO</div>
		<div class="button module" >FLEET</div>
		<div class="button module" >ORDERS</div>
        <div class="button arrow" >&nbsp;&#8680;&nbsp;</div>
     </div>

     <div class="module-content" style="width:100%;height:90%;color:#cce1ee;">123213</div>
</div>
<style>.button{border: 1px solid red;text-align:center; font-size:2vh;line-height:2.5vh;}.arrow{width:10%;line-height:2.18vh;font-size:2.5vh;}.module{width:20%;}</style>

<style>*{margin:0;padding:0;}</style>